@model IEnumerable<Mokkilicores.Models.Pedido>

@{
    ViewData["Title"] = "ListaPedido";
}

<h1>Lista de Pedidos</h1>

<p>
    <a asp-action="NuevoPedido">Agregar nuevo pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioTotal)
            </td>
            <td>
                    @Html.ActionLink("Items", "ListaItems", new { id = item.Id }) |
                    @Html.ActionLink("Editar", "EditaPedido", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "EliminaPedido", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
